# Report
* Top 10 like question. Here the report is using limit 10 to select top 10 roles. This method does not consider if were a tie in the result but simpler to show result. Code and result to select top 10 considering tie is demonstrated in Q4. The logic can be applied to other questions. 
* There are duplicate records for login from original data.
* Malformed.log and error.log is not loaded to database. They have been stored in each folder in json format. There are two kinds of malformed records, which has been separated in different folder.

In [1]:
import os
import glob
import pandas as pd
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# read in malformed.log and error.log
df_malformed_broken = pd.DataFrame()
df_malformed_unidentified_events= pd.DataFrame()
df_error = pd.DataFrame()

for l in get_files("./malformed.log/malformed_broken.json"):
    tmp = pd.read_json(l,lines=True)
    df_malformed_broken = df_malformed_broken.append(tmp)
for l in get_files("./malformed.log/malformed_unidentified_events.json"):
    tmp = pd.read_json(l,lines=True)
    df_malformed_unidentified_events = df_malformed_unidentified_events.append(tmp)

for l in get_files("./error.log/error.json"):
    tmp = pd.read_json(l,lines=True)
    df_error = df_error.append(tmp)

# connect to database
%load_ext sql
%sql mysql+pymysql://root:goodluck@localhost/event

In [2]:
def test(file):
    print(f"Report for file", file, '\n')
    print("1. Totals of each event type loaded by date on event")
    tables = ["login_tb", 'pick_up_items_tb', 'player_death_tb', 'game_econ_tb']
    result = pd.DataFrame(columns = ['date'])
    for t in range(len(tables)):
        tb = tables[t]
        tmp = %sql select date(time) as date, count(*) as :tb from $tb where sourcefile = :file group by date 
        tmpdf = pd.DataFrame(tmp, columns = tmp.keys)
        result = result.merge(tmpdf,on = 'date', how = 'outer')
    print(result.sort_values(by = 'date'))
    
    print("\n 2. Total of malformed events")
    num_records = len(df_malformed_broken[df_malformed_broken['sourcefile'] == file]) +\
    len(df_malformed_unidentified_events[df_malformed_unidentified_events['sourcefile'] == file])
    print(num_records)
    
    print("\n 3. Total of error events")
    result = len(df_error[df_error['sourcefile']==file])
    print(result)
    
    print("\n 4. Top 10 NPCs who killed players. Here is one solution.")
    result = %sql select killer, count(*) as count from player_death_tb where sourcefile = :file group by killer order by count desc limit 10;
    print(result)  
    
    print("\n Here is an alternative solution if interested in dense rank of killers. First get num of kills for each NPC.\
    Then self join table to get count of number of npcs with kills equal or more as dense rank. This logic can be applied to other top 10 quesitons as well.")
    result = %sql select killer, count, denserank from (SELECT t1.killer,t1.count, count(distinct t2.count) as denserank FROM (SELECT killer, count(*) as count FROM event.player_death_tb where sourcefile = :file group by killer) t1 left join (SELECT killer, count(*) as count FROM event.player_death_tb where sourcefile = :file group by killer) t2 on t2.count>=t1.count group by t1.killer) tmp where denserank<=10 order by denserank 
    print(result)
    
    print("\n 5. Top 10 NPCs who did the most damage to player")
    result = %sql select npc, sum(total_dmg) as total_dmg from player_death_tb where sourcefile = :file group by npc order by total_dmg desc limit 10
    print(result)
    
    print("\n 6. Top 10 items picked up by players")
    result= %sql select item_sku, count(*) as count from pick_up_items_tb where sourcefile = :file group by item_sku order by count desc limit 10
    print(result)
    
    print("\n 7. Top 10 players who died")
    result = %sql select userid, count(*) as count from player_death_tb where sourcefile = :file group by userid order by count desc limit 10
    print(result)
    
    print("\n 8. Top 10 players who spent the most gold")
    result = %sql select userid, sum(gold_spent) as sum from game_econ_tb where sourcefile = :file group by userid order by sum desc limit 10
    print(result)
    
    print("\n 9. Top 10 items that made the most gold")
    result = %sql select item_sku, sum(gold_spent) as sum from game_econ_tb where sourcefile = :file group by item_sku order by sum desc limit 10
    print(result)
    
    print("\n 10. Top10 players who earned the most gold")
    result = %sql select item_sku, sum(gold_earned) as gold_earned from pick_up_items_tb where sourcefile = :file group by item_sku order by gold_earned desc limit 10
    print(result)
    
    print("\n 11. Player deaths by date")
    %sql select date(time) as date, count(*) as num_deaths from player_death_tb where sourcefile =:file group by date order by date
    print(result) 
    
    print("\n 11. Player deaths by date")
    %sql select date(time) as date, count(*) as num_deaths from player_death_tb where sourcefile =:file group by date order by date
    print(result) 
    
    print("\n 12. Gold payouts to player by date")
    result = %sql select date(time) as date, sum(gold_earned) as gold_payouts from pick_up_items_tb where sourcefile =:file group by date order by date
    print(result)
    
    print("\n 13. How many players logged in perday")
    result = %sql select date(time) as date, count(distinct userid) as count from login_tb where sourcefile =:file group by date order by date
    print(result)
    print("\n 14. How many players logged in but did not play.  # define play as performing an event. If return no result then 0")
    result = %sql select l.date, count(l.userid) as result from (select distinct userid, date(time) date from login_tb where sourcefile = :file) l left join (select distinct userid, date(time) date from game_econ_tb where sourcefile =:file) g on l.userid = g.userid and l.date = g.date left join (select distinct userid, date(time) date from pick_up_items_tb where sourcefile = :file) p on l.userid = p.userid and l.date = p.date left join (select distinct userid, date(time) date from player_death_tb where sourcefile = :file) d on l.userid = d.userid and l.date = d.date where g.userid is null and p.userid is null and d.userid is null group by l.date;
    print(result)

In [3]:
for file in ['data/test_1', 'data/test_2','data/test_3']:
    test(file)

Report for file data/test_1

1. Totals of each event type loaded by date on event
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
         date  login_tb  pick_up_items_tb  player_death_tb  game_econ_tb
2  2015-08-01     25057             25132            25048         24916
3  2015-08-02     24989             25458            25002         25019
6  2015-08-03     24829             24788            25224         25109
7  2015-08-04     25001             25028            24850         24772
5  2015-08-05     24883             24842            25074         25008
4  2015-08-06     25329             24826            25271         24790
8  2015-08-07     24925             24790            24947         25164
9  2015-08-08     25011             25024            25149         24829
1  2015-08-09     25169             25025            24787         25009
0  2015-08-10     25038             24860            25248         24780

 2. Total of malformed events
0

 3. Total of error events
0

 4. Top 10 NPCs who killed players. Here is one solution.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+---------+-------+
|  killer | count |
+---------+-------+
| npc_137 |  301  |
| npc_260 |  298  |
| npc_822 |  294  |
| npc_595 |  293  |
| npc_723 |  293  |
| npc_685 |  288  |
| npc_804 |  287  |
| npc_732 |  287  |
|  npc_26 |  287  |
| npc_758 |  287  |
+---------+-------+

 Here is an alternative solution if interested in dense rank of killers. First get num of kills for each NPC.    Then self join table to get count of number of npcs with kills equal or more as dense rank. This logic can be applied to other top 10 quesitons as well.
 * mysql+pymysql://root:***@localhost/event
23 rows affected.
+---------+-------+-----------+
|  killer | count | denserank |
+---------+-------+-----------+
| npc_137 |  301  |     1     |
| npc_260 |  298  |     2     |
| npc_822 |  294  |     3     |
| npc_595 |  293  |     4     |
| npc_723 |  293  |     4     |
| npc_685 |  288  |     5     |
|  npc_26 |  287  |     6     |
| npc_732 |  287  |     6     |
| npc_758 |  287  |     6     |
| npc_804 |  287  |     6     |
| npc_711 |  286  |     7     |
| npc_725 |  286  |     7     |
| npc_122 |  285  |     8     |
| npc_230 |  285  |     8     |
| npc_296 |  285  |     8     |
| npc_386 |  285  |     8     |
| npc_648 |  285  |     8     |
| npc_976 |  285  |     8     |
| npc_150 |  284  |     9     |
| npc_927 |  284  |     9     |
| npc_936 |  284  |     9     |
| npc_480 |  283  |     10    |
| npc_827 |  283  |     10    |
+---------+-------+-----------+

 5. Top 10 NPCs who did the most damage to player
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+---------+-----------+
|   npc   | total_dmg |
+---------+-----------+
| npc_260 |  18309367 |
| npc_137 |  18304329 |
| npc_827 |  17427080 |
| npc_979 |  17364313 |
| npc_976 |  17189097 |
|  npc_55 |  17049449 |
| npc_822 |  16896188 |
| npc_531 |  16889066 |
| npc_386 |  16754039 |
| npc_595 |  16745356 |
+---------+-----------+

 6. Top 10 items picked up by players
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------+
| item_sku | count |
+----------+-------+
| item_69  |  295  |
| item_309 |  295  |
| item_291 |  293  |
| item_121 |  293  |
| item_177 |  291  |
| item_943 |  288  |
| item_991 |  288  |
| item_589 |  287  |
| item_422 |  287  |
| item_449 |  287  |
+----------+-------+

 7. Top 10 players who died
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+--------+-------+
| userid | count |
+--------+-------+
|  1925  |  170  |
|  496   |  169  |
|  1641  |  165  |
|  1053  |  163  |
|   37   |  161  |
|  551   |  159  |
|  1452  |  158  |
|  994   |  157  |
|  784   |  155  |
|  531   |  155  |
+--------+-------+

 8. Top 10 players who spent the most gold
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+--------+-------+
| userid |  sum  |
+--------+-------+
|  1818  | 86862 |
|  386   | 86085 |
|  1009  | 84119 |
|  726   | 83292 |
|  1639  | 82063 |
|  1655  | 81316 |
|  572   | 80471 |
|  478   | 80416 |
|  1591  | 80267 |
|  282   | 80075 |
+--------+-------+

 9. Top 10 items that made the most gold
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+---------+
| item_sku |   sum   |
+----------+---------+
| item_78  | 1306515 |
| item_16  | 1301944 |
| item_34  | 1293567 |
| item_85  | 1288254 |
| item_41  | 1287455 |
| item_46  | 1285419 |
| item_84  | 1280764 |
| item_13  | 1278560 |
| item_73  | 1277605 |
| item_87  | 1275227 |
+----------+---------+

 10. Top10 players who earned the most gold
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------------+
| item_sku | gold_earned |
+----------+-------------+
| item_718 |    151522   |
| item_943 |    149576   |
| item_177 |    149083   |
| item_422 |    149014   |
| item_291 |    148285   |
| item_285 |    148210   |
| item_309 |    147814   |
| item_628 |    147653   |
| item_647 |    147041   |
| item_250 |    146355   |
+----------+-------------+

 11. Player deaths by date
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------------+
| item_sku | gold_earned |
+----------+-------------+
| item_718 |    151522   |
| item_943 |    149576   |
| item_177 |    149083   |
| item_422 |    149014   |
| item_291 |    148285   |
| item_285 |    148210   |
| item_309 |    147814   |
| item_628 |    147653   |
| item_647 |    147041   |
| item_250 |    146355   |
+----------+-------------+

 11. Player deaths by date
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------------+
| item_sku | gold_earned |
+----------+-------------+
| item_718 |    151522   |
| item_943 |    149576   |
| item_177 |    149083   |
| item_422 |    149014   |
| item_291 |    148285   |
| item_285 |    148210   |
| item_309 |    147814   |
| item_628 |    147653   |
| item_647 |    147041   |
| item_250 |    146355   |
+----------+-------------+

 12. Gold payouts to player by date
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+------------+--------------+
|    date    | gold_payouts |
+------------+--------------+
| 2015-08-01 |   12590286   |
| 2015-08-02 |   12708122   |
| 2015-08-03 |   12381690   |
| 2015-08-04 |   12551253   |
| 2015-08-05 |   12408637   |
| 2015-08-06 |   12382167   |
| 2015-08-07 |   12348172   |
| 2015-08-08 |   12487420   |
| 2015-08-09 |   12519478   |
| 2015-08-10 |   12433113   |
+------------+--------------+

 13. How many players logged in perday
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+------------+-------+
|    date    | count |
+------------+-------+
| 2015-08-01 |  2001 |
| 2015-08-02 |  2001 |
| 2015-08-03 |  2001 |
| 2015-08-04 |  2001 |
| 2015-08-05 |  2001 |
| 2015-08-06 |  2001 |
| 2015-08-07 |  2001 |
| 2015-08-08 |  2001 |
| 2015-08-09 |  2001 |
| 2015-08-10 |  2001 |
+------------+-------+

 14. How many players logged in but did not play.  # define play as performing an event. If return no result then 0
 * mysql+pymysql://root:***@localhost/event
0 rows affected.
+------+--------+
| date | result |
+------+--------+
+------+--------+
Report for file data/test_2

1. Totals of each event type loaded by date on event
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
         date  login_tb  pick_up_items_tb  player_death_tb  game_econ_tb
4  2015-08-01     24979             24720            25056         24964
7  2015-08-02     24917             25119            25066         25116
8  2015-08-03     25040             24925            25135         24648
5  2015-08-04     24915             25104            24666         25184
2  2015-08-05     24873             25066            24980         25115
9  2015-08-06     24995             24586            25082         25109
1  2015-08-07     24855             24910            24899         25180
6  2015-08-08     24892             25089            25051         25342
0  2015-08-09     24864             24819            24973         25087
3  2015-08-10     24985             25455            24884         24853

 2. Total of malformed events
66761

 3. Total of error events
33349

 4. Top 10 NPCs who killed players. Here is one solution.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+---------+-------+
|  killer | count |
+---------+-------+
| npc_577 |  310  |
| npc_859 |  301  |
| npc_860 |  300  |
| npc_776 |  300  |
| npc_431 |  298  |
| npc_526 |  294  |
| npc_806 |  293  |
| npc_264 |  292  |
| npc_903 |  292  |
|  npc_55 |  291  |
+---------+-------+

 Here is an alternative solution if interested in dense rank of killers. First get num of kills for each NPC.    Then self join table to get count of number of npcs with kills equal or more as dense rank. This logic can be applied to other top 10 quesitons as well.
 * mysql+pymysql://root:***@localhost/event
14 rows affected.
+---------+-------+-----------+
|  killer | count | denserank |
+---------+-------+-----------+
| npc_577 |  310  |     1     |
| npc_859 |  301  |     2     |
| npc_776 |  300  |     3     |
| npc_860 |  300  |     3     |
| npc_431 |  298  |     4     |
| npc_526 |  294  |     5     |
| npc_806 |  293  |     6     |
| npc_264 |  292  |     7     |
| npc_903 |  292  |     7     |
|  npc_55 |  291  |     8     |
| npc_115 |  289  |     9     |
|  npc_1  |  286  |     10    |
| npc_238 |  286  |     10    |
| npc_984 |  286  |     10    |
+---------+-------+-----------+

 5. Top 10 NPCs who did the most damage to player
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+---------+-----------+
|   npc   | total_dmg |
+---------+-----------+
| npc_577 |  18028207 |
| npc_264 |  17259947 |
| npc_806 |  17232685 |
| npc_170 |  17173644 |
| npc_238 |  17162265 |
| npc_859 |  17051455 |
|  npc_1  |  16890093 |
| npc_977 |  16875361 |
| npc_789 |  16858880 |
| npc_599 |  16799836 |
+---------+-----------+

 6. Top 10 items picked up by players
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------+
| item_sku | count |
+----------+-------+
| item_31  |  304  |
| item_63  |  302  |
| item_816 |  293  |
| item_731 |  292  |
| item_317 |  289  |
| item_813 |  285  |
| item_127 |  285  |
| item_946 |  285  |
| item_147 |  285  |
| item_376 |  284  |
+----------+-------+

 7. Top 10 players who died
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+--------+-------+
| userid | count |
+--------+-------+
|  555   |  164  |
|  559   |  160  |
|  404   |  158  |
|  1911  |  158  |
|  1600  |  158  |
|  161   |  157  |
|  176   |  156  |
|  1031  |  156  |
|  1638  |  156  |
|  314   |  154  |
+--------+-------+

 8. Top 10 players who spent the most gold
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+--------+-------+
| userid |  sum  |
+--------+-------+
|  907   | 83957 |
|  960   | 83149 |
|  180   | 82050 |
|  454   | 81073 |
|  1080  | 80955 |
|   34   | 79961 |
|  1558  | 79829 |
|  102   | 79570 |
|  1623  | 79542 |
|  1834  | 79173 |
+--------+-------+

 9. Top 10 items that made the most gold
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+---------+
| item_sku |   sum   |
+----------+---------+
|  item_9  | 1321714 |
| item_57  | 1315034 |
| item_64  | 1307864 |
| item_45  | 1301153 |
| item_33  | 1297983 |
| item_49  | 1290925 |
| item_13  | 1287676 |
| item_46  | 1284952 |
| item_28  | 1276946 |
| item_20  | 1275051 |
+----------+---------+

 10. Top10 players who earned the most gold
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------------+
| item_sku | gold_earned |
+----------+-------------+
| item_731 |    167744   |
| item_63  |    156216   |
| item_416 |    151712   |
| item_615 |    150704   |
| item_757 |    150145   |
| item_146 |    150037   |
| item_447 |    149644   |
| item_68  |    148982   |
| item_176 |    148975   |
| item_961 |    148620   |
+----------+-------------+

 11. Player deaths by date
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------------+
| item_sku | gold_earned |
+----------+-------------+
| item_731 |    167744   |
| item_63  |    156216   |
| item_416 |    151712   |
| item_615 |    150704   |
| item_757 |    150145   |
| item_146 |    150037   |
| item_447 |    149644   |
| item_68  |    148982   |
| item_176 |    148975   |
| item_961 |    148620   |
+----------+-------------+

 11. Player deaths by date
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------------+
| item_sku | gold_earned |
+----------+-------------+
| item_731 |    167744   |
| item_63  |    156216   |
| item_416 |    151712   |
| item_615 |    150704   |
| item_757 |    150145   |
| item_146 |    150037   |
| item_447 |    149644   |
| item_68  |    148982   |
| item_176 |    148975   |
| item_961 |    148620   |
+----------+-------------+

 12. Gold payouts to player by date
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+------------+--------------+
|    date    | gold_payouts |
+------------+--------------+
| 2015-08-01 |   12349284   |
| 2015-08-02 |   12501210   |
| 2015-08-03 |   12418255   |
| 2015-08-04 |   12537734   |
| 2015-08-05 |   12544035   |
| 2015-08-06 |   12323060   |
| 2015-08-07 |   12500392   |
| 2015-08-08 |   12557556   |
| 2015-08-09 |   12371532   |
| 2015-08-10 |   12682764   |
+------------+--------------+

 13. How many players logged in perday
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+------------+-------+
|    date    | count |
+------------+-------+
| 2015-08-01 |  2001 |
| 2015-08-02 |  2001 |
| 2015-08-03 |  2001 |
| 2015-08-04 |  2001 |
| 2015-08-05 |  2001 |
| 2015-08-06 |  2001 |
| 2015-08-07 |  2001 |
| 2015-08-08 |  2001 |
| 2015-08-09 |  2001 |
| 2015-08-10 |  2001 |
+------------+-------+

 14. How many players logged in but did not play.  # define play as performing an event. If return no result then 0
 * mysql+pymysql://root:***@localhost/event
0 rows affected.
+------+--------+
| date | result |
+------+--------+
+------+--------+
Report for file data/test_3

1. Totals of each event type loaded by date on event
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
         date  login_tb  pick_up_items_tb  player_death_tb  game_econ_tb
6  2015-08-01     24852             24998            24983         24918
5  2015-08-02     24986             25128            25526         25098
3  2015-08-03     25050             24635            25195         24908
7  2015-08-04     24867             24910            24795         25079
4  2015-08-05     24751             25397            24918         24962
1  2015-08-06     24873             24875            24642         25233
8  2015-08-07     25139             24947            25032         24749
0  2015-08-08     25013             24873            25234         24984
2  2015-08-09     25093             25244            24923         24842
9  2015-08-10     24986             24869            24976         25065

 2. Total of malformed events
66696

 3. Total of error events
33292

 4. Top 10 NPCs who killed players. Here is one solution.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+---------+-------+
|  killer | count |
+---------+-------+
| npc_637 |  302  |
| npc_598 |  296  |
| npc_892 |  294  |
| npc_242 |  294  |
| npc_422 |  292  |
| npc_427 |  289  |
| npc_531 |  289  |
| npc_814 |  288  |
| npc_891 |  288  |
| npc_879 |  288  |
+---------+-------+

 Here is an alternative solution if interested in dense rank of killers. First get num of kills for each NPC.    Then self join table to get count of number of npcs with kills equal or more as dense rank. This logic can be applied to other top 10 quesitons as well.
 * mysql+pymysql://root:***@localhost/event
17 rows affected.
+---------+-------+-----------+
|  killer | count | denserank |
+---------+-------+-----------+
| npc_637 |  302  |     1     |
| npc_598 |  296  |     2     |
| npc_242 |  294  |     3     |
| npc_892 |  294  |     3     |
| npc_422 |  292  |     4     |
| npc_427 |  289  |     5     |
| npc_531 |  289  |     5     |
| npc_814 |  288  |     6     |
| npc_879 |  288  |     6     |
| npc_891 |  288  |     6     |
| npc_733 |  287  |     7     |
| npc_741 |  286  |     8     |
| npc_458 |  285  |     9     |
|  npc_85 |  285  |     9     |
| npc_245 |  284  |     10    |
| npc_860 |  284  |     10    |
| npc_919 |  284  |     10    |
+---------+-------+-----------+

 5. Top 10 NPCs who did the most damage to player
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+---------+-----------+
|   npc   | total_dmg |
+---------+-----------+
| npc_598 |  17878720 |
| npc_242 |  17519000 |
| npc_985 |  17374670 |
|  npc_85 |  17312517 |
| npc_879 |  17168333 |
| npc_531 |  16960305 |
| npc_427 |  16913877 |
| npc_891 |  16900139 |
| npc_245 |  16890063 |
|  npc_64 |  16875398 |
+---------+-----------+

 6. Top 10 items picked up by players
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------+
| item_sku | count |
+----------+-------+
| item_853 |  313  |
| item_635 |  308  |
| item_425 |  297  |
| item_339 |  292  |
| item_807 |  290  |
| item_640 |  290  |
| item_530 |  288  |
| item_726 |  287  |
| item_446 |  287  |
| item_771 |  287  |
+----------+-------+

 7. Top 10 players who died
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+--------+-------+
| userid | count |
+--------+-------+
|  197   |  169  |
|  563   |  165  |
|  529   |  160  |
|  431   |  158  |
|  884   |  158  |
|  1271  |  156  |
|  1251  |  156  |
|  1925  |  156  |
|  1980  |  156  |
|  581   |  155  |
+--------+-------+

 8. Top 10 players who spent the most gold
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+--------+-------+
| userid |  sum  |
+--------+-------+
|  415   | 86882 |
|  109   | 85642 |
|  1643  | 83430 |
|  1568  | 81683 |
|  1985  | 81643 |
|  1181  | 80623 |
|  1219  | 80561 |
|  722   | 80501 |
|  697   | 80327 |
|  1110  | 80289 |
+--------+-------+

 9. Top 10 items that made the most gold
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+---------+
| item_sku |   sum   |
+----------+---------+
| item_61  | 1294546 |
| item_99  | 1292720 |
| item_87  | 1285106 |
| item_48  | 1284422 |
| item_51  | 1283200 |
| item_93  | 1280285 |
|  item_9  | 1274679 |
| item_32  | 1273037 |
| item_77  | 1272463 |
| item_60  | 1271893 |
+----------+---------+

 10. Top10 players who earned the most gold
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------------+
| item_sku | gold_earned |
+----------+-------------+
| item_635 |    154587   |
| item_853 |    153521   |
| item_956 |    151449   |
| item_339 |    151419   |
| item_477 |    149710   |
| item_880 |    148628   |
| item_638 |    148262   |
| item_425 |    146816   |
| item_900 |    146541   |
| item_683 |    146114   |
+----------+-------------+

 11. Player deaths by date
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
+----------+-------------+
| item_sku | gold_earned |
+----------+-------------+
| item_635 |    154587   |
| item_853 |    153521   |
| item_956 |    151449   |
| item_339 |    151419   |
| item_477 |    149710   |
| item_880 |    148628   |
| item_638 |    148262   |
| item_425 |    146816   |

## Exploartory analysis apendix

1. Top 10 NPCs who killed players

In [22]:
%%sql 
result <<
select date(time) as date, count(*)  
from login_tb where sourcefile = :file group by date;

 * mysql+pymysql://root:***@localhost/event
10 rows affected.
Returning data to local variable result

In [177]:
# Totals of each event type loaded by date on event
tables = ["login_tb", 'pick_up_items_tb', 'player_death_tb', 'game_econ_tb']
result = pd.DataFrame(columns = ['date'])
for t in range(len(tables)):
    tb = tables[t]
    tmp = %sql select date(time) as date, count(*) as :tb from $tb where sourcefile = :file group by date 
    tmpdf = pd.DataFrame(tmp, columns = tmp.keys)
    result = result.merge(tmpdf,on = 'date', how = 'outer')
print(result.sort_values(by = 'date'))

 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
 * mysql+pymysql://root:***@localhost/event
10 rows affected.
         date  login_tb  pick_up_items_tb  player_death_tb  game_econ_tb
2  2015-08-01     25057             25132            25048         24916
0  2015-08-02     24989             25458            25002         25019
1  2015-08-03     24829             24788            25224         25109
4  2015-08-04     25001             25028            24850         24772
9  2015-08-05     24883             24842            25074         25008
5  2015-08-06     25329             24826            25271         24790
3  2015-08-07     24925             24790            24947         25164
7  2015-08-08     25011             25024            25149         24829
8  2015-08-09     25169             25025            24787         25009
6  2015-08-10     25038             24860            25248         24780

In [ ]:
# 2. Total of malformed events
# 3. Total of Error events

In [28]:
%%sql 
select killer, count(*) as count 
from player_death_tb where sourcefile = :file 
group by killer order by count desc limit 10 ;

 * mysql+pymysql://root:***@localhost/event
10 rows affected.

[('npc_137', 301),
 ('npc_260', 298),
 ('npc_822', 294),
 ('npc_723', 293),
 ('npc_595', 293),
 ('npc_685', 288),
 ('npc_26', 287),
 ('npc_758', 287),
 ('npc_804', 287),
 ('npc_732', 287)]

In [25]:
# if asking for dense rank of killers
%sql select killer, count, denserank from (SELECT t1.killer,t1.count, count(distinct t2.count) as denserank FROM (SELECT killer, count(*) as count FROM event.player_death_tb where sourcefile = :file group by killer) t1 left join (SELECT killer, count(*) as count FROM event.player_death_tb where sourcefile = :file group by killer) t2 on t2.count>=t1.count group by t1.killer) tmp where denserank<=10 order by denserank

 * mysql+pymysql://root:***@localhost/event
23 rows affected.

[('npc_137', 301, 1),
 ('npc_260', 298, 2),
 ('npc_822', 294, 3),
 ('npc_595', 293, 4),
 ('npc_723', 293, 4),
 ('npc_685', 288, 5),
 ('npc_26', 287, 6),
 ('npc_732', 287, 6),
 ('npc_758', 287, 6),
 ('npc_804', 287, 6),
 ('npc_711', 286, 7),
 ('npc_725', 286, 7),
 ('npc_122', 285, 8),
 ('npc_230', 285, 8),
 ('npc_296', 285, 8),
 ('npc_386', 285, 8),
 ('npc_648', 285, 8),
 ('npc_976', 285, 8),
 ('npc_150', 284, 9),
 ('npc_927', 284, 9),
 ('npc_936', 284, 9),
 ('npc_480', 283, 10),
 ('npc_827', 283, 10)]

In [150]:
# 5. Top 10 NPCs who did the most damage to player
%sql select npc, sum(total_dmg) as total_dmg from player_death_tb where sourcefile = :file group by npc order by total_dmg desc limit 10

 * mysql+pymysql://root:***@localhost/event
10 rows affected.

[('npc_260', Decimal('18309367')),
 ('npc_137', Decimal('18304329')),
 ('npc_827', Decimal('17427080')),
 ('npc_979', Decimal('17364313')),
 ('npc_976', Decimal('17189097')),
 ('npc_55', Decimal('17049449')),
 ('npc_822', Decimal('16896188')),
 ('npc_531', Decimal('16889066')),
 ('npc_386', Decimal('16754039')),
 ('npc_595', Decimal('16745356'))]

In [151]:
# 6. Top 10 items picked up by players
%sql select item_sku, count(*) as count from pick_up_items_tb where sourcefile = :file group by item_sku order by count desc limit 10

 * mysql+pymysql://root:***@localhost/event
10 rows affected.

[('item_69', 295),
 ('item_309', 295),
 ('item_291', 293),
 ('item_121', 293),
 ('item_177', 291),
 ('item_943', 288),
 ('item_991', 288),
 ('item_589', 287),
 ('item_422', 287),
 ('item_449', 287)]

In [154]:
# 7. Top 10 players who died

%sql select userid, count(*) as count from player_death_tb where sourcefile = :file group by userid order by count desc limit 10

 * mysql+pymysql://root:***@localhost/event
10 rows affected.

[('1925', 170),
 ('496', 169),
 ('1641', 165),
 ('1053', 163),
 ('37', 161),
 ('551', 159),
 ('1452', 158),
 ('994', 157),
 ('531', 155),
 ('784', 155)]

In [159]:
# 8. Top 10 players who spent the most gold
%sql select userid, sum(gold_spent) as sum from game_econ_tb where sourcefile = :file group by userid order by sum desc limit 10

 * mysql+pymysql://root:***@localhost/event
10 rows affected.

[('1818', Decimal('86862')),
 ('386', Decimal('86085')),
 ('1009', Decimal('84119')),
 ('726', Decimal('83292')),
 ('1639', Decimal('82063')),
 ('1655', Decimal('81316')),
 ('572', Decimal('80471')),
 ('478', Decimal('80416')),
 ('1591', Decimal('80267')),
 ('282', Decimal('80075'))]

In [160]:
#9. Top 10 items that made the most gold
%sql select item_sku, sum(gold_spent) as sum from game_econ_tb where sourcefile = :file group by item_sku order by sum desc limit 10

 * mysql+pymysql://root:***@localhost/event
10 rows affected.

[('item_78', Decimal('1306515')),
 ('item_16', Decimal('1301944')),
 ('item_34', Decimal('1293567')),
 ('item_85', Decimal('1288254')),
 ('item_41', Decimal('1287455')),
 ('item_46', Decimal('1285419')),
 ('item_84', Decimal('1280764')),
 ('item_13', Decimal('1278560')),
 ('item_73', Decimal('1277605')),
 ('item_87', Decimal('1275227'))]

In [161]:
# 10. Top10playerswhoearnedthemostgold

%sql select item_sku, sum(gold_earned) as gold_earned from pick_up_items_tb where sourcefile = :file group by item_sku order by gold_earned desc limit 10

 * mysql+pymysql://root:***@localhost/event
10 rows affected.

[('item_718', Decimal('151522')),
 ('item_943', Decimal('149576')),
 ('item_177', Decimal('149083')),
 ('item_422', Decimal('149014')),
 ('item_291', Decimal('148285')),
 ('item_285', Decimal('148210')),
 ('item_309', Decimal('147814')),
 ('item_628', Decimal('147653')),
 ('item_647', Decimal('147041')),
 ('item_250', Decimal('146355'))]

In [166]:
# 11. Player deaths by date
%sql select date(time) as date, count(*) as num_deaths from player_death_tb where sourcefile =:file group by date order by date

 * mysql+pymysql://root:***@localhost/event
10 rows affected.

[(datetime.date(2015, 8, 1), 25048),
 (datetime.date(2015, 8, 2), 25002),
 (datetime.date(2015, 8, 3), 25224),
 (datetime.date(2015, 8, 4), 24850),
 (datetime.date(2015, 8, 5), 25074),
 (datetime.date(2015, 8, 6), 25271),
 (datetime.date(2015, 8, 7), 24947),
 (datetime.date(2015, 8, 8), 25149),
 (datetime.date(2015, 8, 9), 24787),
 (datetime.date(2015, 8, 10), 25248)]

In [7]:
# 12. Goldpayoutstoplayerbydate
%sql select date(time) as date, sum(gold_earned) as gold_payouts from pick_up_items_tb where sourcefile =:file group by date order by date

UsageError: Line magic function `%sql` not found.

In [170]:

# 13. How many players logged in perday
%sql select date(time) as date, count(distinct userid) as count from login_tb where sourcefile =:file group by date order by date

 * mysql+pymysql://root:***@localhost/event
10 rows affected.

[(datetime.date(2015, 8, 1), 2001),
 (datetime.date(2015, 8, 2), 2001),
 (datetime.date(2015, 8, 3), 2001),
 (datetime.date(2015, 8, 4), 2001),
 (datetime.date(2015, 8, 5), 2001),
 (datetime.date(2015, 8, 6), 2001),
 (datetime.date(2015, 8, 7), 2001),
 (datetime.date(2015, 8, 8), 2001),
 (datetime.date(2015, 8, 9), 2001),
 (datetime.date(2015, 8, 10), 2001)]

In [180]:
# 14. How many players logged in but did not play
# define play as performing an event
%sql select l.date, count(l.userid) as result from (select distinct userid, date(time) date from login_tb where sourcefile = :file) l left join (select distinct userid, date(time) date from game_econ_tb where sourcefile =:file) g on l.userid = g.userid and l.date = g.date left join (select distinct userid, date(time) date from pick_up_items_tb where sourcefile = :file) p on l.userid = p.userid and l.date = p.date left join (select distinct userid, date(time) date from player_death_tb where sourcefile = :file) d on l.userid = d.userid and l.date = d.date where g.userid is null and p.userid is null and d.userid is null group by l.date;

 * mysql+pymysql://root:***@localhost/event
0 rows affected.

[]

In [175]:
%sql select date(time) as date, count(distinct userid) from player_death_tb where sourcefile = :file group by date order by date

 * mysql+pymysql://root:***@localhost/event
10 rows affected.

[(datetime.date(2015, 8, 1), 2001),
 (datetime.date(2015, 8, 2), 2001),
 (datetime.date(2015, 8, 3), 2001),
 (datetime.date(2015, 8, 4), 2001),
 (datetime.date(2015, 8, 5), 2001),
 (datetime.date(2015, 8, 6), 2001),
 (datetime.date(2015, 8, 7), 2001),
 (datetime.date(2015, 8, 8), 2001),
 (datetime.date(2015, 8, 9), 2001),
 (datetime.date(2015, 8, 10), 2001)]